
@font-face{
  font-family:"PRISTINA";
  src: url("../fuente/pristina.TTF") format("truetype");
}
@font-face {
  font-family: "fuente"
  src: url("../fuente/RAGE.TTF") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
  background-color: #E6EE9C;
  background-image: url(../imagenes/ciudades.jpg);
  background-attachment: fixed;
  font-family: Arial, serif, sans-serif;
  font-size: 20px;
  padding: 5px; margin: 10px; solid black; float: center; width: 1230px;

  }

  @media (max-whidth:700px) {
    h1{
      background-color: #444;
      color:green;
    }

  }
  .travel-flex{
    background-image: url(../travel.gif);
    display: flex;
    justify-content: center;
    background-color: rgba(194, 255, 255, 0.6);
    height: 25vh;

  }
  .travel-flex{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #E67E22;
  }
  .travel-flex:hover{
    opacity: 0.3;
  }

  @media (max-whidth:700px){
    .travel-flex{
      display: none;
    }
  }
   @media (min-whidth:700px) {
    .andalucia{
      display: none;
    }
}


  .btn-wsp{
      position:fixed;
      width:60px;
      height:60px;
      line-height: 63px;
      bottom:25px;
      right:25px;
      background:#25d366;
      color:#FFF;
      border-radius:50px;
      text-align:center;
      font-size:35px;
      box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
      z-index:100;
      transition: all 300ms ease;
  }
  .btn-wsp:hover{
      background: #20ba5a;
  }
  @media only screen and (min-width:320px) and (max-width:768px){
      .btn-wsp{
          width:63px;
          height:63px;
          line-height: 66px;
  	}
  }

h1{
  background-color: black;
  color: white;
  font-family:"PRISTINA"
  font-size:56px;
  text-align:center;
  border-left: 10px solid black;
}
.CONTAINER{
  margin-right: auto;
  background-position: right;
  padding:0 100px;

}

header {
  background: rgba(255, 255, 56, 0.9);
 width: 100%;
 clear: none;
 content:'';
 display: table;
}

nav {
  float: none;
}


nav ul li {
  list-style: none;
  margin-left: 80px;
  padding: 10px 0;
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a::before {
  display: block;
  content: '';
  width: 3%;
  background: red;
  height: 8px;
  top:0;
  position: absolute;
  transition: width 0.5s;
}

nav ul li a:hover::before {
  width: 100%;
}

section{
  background-color: rgba(255, 198, 83, 0.7);
  width: 48%;
  float: left;
  margin: 1%
  -webkit-transition: 1s linear;
  transition: 1s linear
}
section{
  border-radius: 20px;
}
section{
  font-family: "Dancing"
}
section{
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
section:hover{
  -webkit-transform: perspective(150px) rotateX(45deg);
  transform: perspective(150px) rotateX(45deg);
}

aside{
  background-color: rgba(255, 63, 174, 0.9);
  font-size: 24px;
  width: 48%;
  float: left;
  margin: 1%
}
aside{
  border-radius: 20px;
}

footer {
  background-color:black ;
  color:white;
  font-family: "Times New Roman", Times, sans-serif;
  font-size:20px;
  text-align: center;
  clear: both;

}

.box ul {
  list-style: none;
  margin-top: 20px;
}

.box ul li {
  display:inline-block;
}

.box ul li a {
  color: blue;
  font-size: 45px;
  padding: 10px 5px;
  display: inline-block;
  transition: all .5s ease-in-out;

}

.box ul li a:hover{
  color: yellow;
  transform: scale(1.3);
}

.canal:hover{
  width: 30%;
  border: 10px solid red;
  border-radius: 50%;
  background-color: yellow;
  font-family: "PRISTINA";
  src: url("../fuente/pristina.TTF") format("truetype");
  font-size: 200%;
  -webkit-transition: font-size 1s ease;
  transition: font-size 1s ease;
}

nav UL a:hover{
  width: 100%;
}
